body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
}

.sidebar {
  width: 200px;
  background-color: #222c35;
  color: white;
  height: 100vh;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
}

.sidebar h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 15px 0;
  cursor: pointer;
}

ul li a {
  color: white;
  text-decoration: none;
}

ul li a:hover {
  text-decoration: underline;
}

.main {
  margin-left: 220px;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.avatar-large {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 10px 0;
}

.ticket-section,
.profile-section {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}


.button-group {
  display: flex;
  gap: 10px;
  margin-top: 10px;

}



button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


 .buy {
  background-color: #e74c3c;
  color: white;
}

.recharge {
  background-color: #2ecc71;
  color: white;
} 



